<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>
<body>
    <header>
        <h2>Login</h2>
        <hr>
    </header>
    <main>
        <form th:action="@{/login/process}" method="post">
            <div class="content" id="content-userName">
                <label for="userName">User name</label>
                <br>
                <input type="text" id="userName" name="userName" required>
            </div>
            <div class="content" id="content-password">
                <label for="password">Password</label>
                <br>
                <input type="password" id="password" name="password" required>
            </div>
            <hr id="cutLine">
            <button>Login</button>
            <div>
                <a href="/register.html" >Have no account yet? Register now.</a>
            </div>
        </form>
    </main>
</body>
</html>